
.container {
  margin: 2em;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
  color: rgb(241, 241, 241);
  border-radius: 1em;
  background-color: #222831;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.profile-picture {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 400px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.name {
  text-align: center;
  margin: 0.25em;
}

.title {
  color: #cfab85;
  font-weight: bold;
  text-align: center;
  
}

a {
  text-align: center;
  color: azure;
  text-decoration: none;
  margin-bottom: 1em;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

button {
  display: flex;
  align-items: center;
  padding: 0.25em 0.75em;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: .25em;
}

.linkedin-btn {
  background-color: #5093E2;
}

.btn-icon {
  margin-right: .5em;
}

.description {
  margin-top: 1.5em;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}